.finger-rule-header {
  font-size: 0.75rem;
}

ion-icon {
  fill: var(--ion-color-primary) !important;
  margin: 0.5rem;
}

.finger-rule {
  transition: all 0.4s ease-out;
  opacity: 0;
}
.finger-rule.fade-in {
  opacity: 1;
}
