<ion-item class="finger-rule" *ngIf="fingerRule" [id]="fingerRule.id">
  <ion-icon src="assets/icon/{{fingerRule.type | kebabCase}}.svg"></ion-icon>
  <div fxFlex="column" class="finger-rule-header">
    <div>
      <ion-text color="primary"><strong>{{fingerRule.type | uppercase}}</strong> •
        {{humanizedTimestamp}}</ion-text>
    </div>
    <div>
      <ion-text>{{fingerRule.username}}</ion-text>
    </div>
  </div>
  <ion-icon name="close-outline" (click)="removeRule()">
  </ion-icon>
</ion-item>