<form (ngSubmit)="send()" fxLayout="row" class="ion-margin-top ion-margin-bottom">
  <ion-buttons>
    <ion-button (click)="chooseRuleType()">
      <ion-icon slot="icon-only" src="assets/icon/{{type | kebabCase}}.svg"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-input [(ngModel)]="message" aria-placeholder="Aa" placeholder="Aa" name="message"></ion-input>
  <ion-buttons>
    <ion-button type="submit">
      <ion-icon slot="icon-only" name="send"></ion-icon>
    </ion-button>
  </ion-buttons>
</form>