<div fxFill fxLayout="column">
  <div fxFlex="auto">
    <ion-list *ngIf="fingerRules.length > 0">
      <ng-container *ngFor="let fingerRule of fingerRules">
        <app-finger-rule (deselected)="deselectRule($event)" (selected)="selectRule($event)" (remove)="removeRule($event)" [fingerRule]="fingerRule"></app-finger-rule>
      </ng-container>
    </ion-list>
    <app-empty-rule-list fxFill *ngIf="fingerRules.length === 0"></app-empty-rule-list>
  </div>
  <div fxFlex="nogrow">
    <ion-button (click)="generateRule()" expand="block">Generate new finger rule</ion-button>
  </div>
</div>