<form (ngSubmit)="startMeeting()" [formGroup]="entryForm">
  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input type="text" formControlName="username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Meeting {{ doesMeetingExist ? 'ID' : 'Name' }}</ion-label>
    <ion-input type="text" formControlName="meeting"></ion-input>
  </ion-item>
  <div class="buttons ion-padding">
    <ion-button class="ion-margin-top" color="primary" expand="full" type="submit" [disabled]="entryForm.invalid">
      {{ !doesMeetingExist ? 'Start' : 'Join'}} a Meeting
    </ion-button>
    <ion-button class="ion-margin-top" color="primary" fill="clear" expand="full" (click)="switchView()">
      {{ !doesMeetingExist ? 'Join with Meeting ID' : 'Create a new meeting'}}
    </ion-button>
  </div>
</form>