<ion-content [fullscreen]="true">
  <div class="height-100 ion-padding" fxFlex="1 1 100%" fxLayout="column" fxLayoutAlign="space-between">
    <div>
      <ion-text class="ion-margin-top">
        <h1>Finger Rules</h1>
      </ion-text>
      <ion-text color="primary">Facilitate meetings with simple and clear cut rules.</ion-text>
      <div class="meeting-form">
        <ion-item>
          <ion-label position="floating">Your Name</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Meeting Name</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <div class="buttons ion-padding">
          <ion-button color="primary" expand="full">Start Meeting</ion-button>
          <ion-button color="primary" fill="clear" expand="full">Join with Meeting ID</ion-button>
        </div>
      </div>
    </div>
    <ion-button color="medium" fill="clear" expand="full">Explain Finger Rules</ion-button>
  </div>
</ion-content>