<ion-content [fullscreen]="true">
  <div class="height-100 ion-padding" fxLayout="column" fxLayoutAlign="space-between">
    <div>
      <ion-text>
        <h1>Finger Rules</h1>
      </ion-text>
      <ion-text color="primary">Simple and clear cut rules for questions and replies without interrupting the speaker in
        your meetings.</ion-text>
      <app-entry-form></app-entry-form>
    </div>
    <ion-button color="medium" fill="clear" expand="full" (click)="helpPage()">Explain Finger Rules</ion-button>
  </div>
</ion-content>