<ion-header>
  <ion-toolbar [class.dark-background]="!selectedRulesService.isEmpty()">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <ion-buttons slot="start">
        <ion-button (click)="back()" *ngIf="selectedRulesService.isEmpty(); else clearSelectedButton">
          <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
        </ion-button>
        <ng-template #clearSelectedButton>
          <ion-button (click)="selectedRulesService.clear()">
            <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
          </ion-button>
        </ng-template>
      </ion-buttons>
      <div fxLayout="column" *ngIf="selectedRulesService.isEmpty(); else selectedRulesText">
        <ion-text>{{meetingName}}</ion-text>
        <ion-text>{{meetingID}}</ion-text>
      </div>
      <ng-template #selectedRulesText>
        <ion-text fxFlex="1 1 100%">{{selectedRulesService.selectedRules.length}}</ion-text>
      </ng-template>
      <ion-buttons slot="secondary">
        <ion-button color="primary" *ngIf="selectedRulesService.isEmpty(); else selectedRulesButton">
          <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
        </ion-button>
        <ng-template #selectedRulesButton>
          <ion-button color="primary" (click)="selectedRulesService.removeAll()">
            <ion-text>Remove</ion-text>
          </ion-button>
          <!-- <ion-button color="primary">
            <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
          </ion-button> -->
        </ng-template>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-rule-list fxFill></app-rule-list>
</ion-content>