<ion-header>
  <ion-toolbar>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <ion-back-button defaultHref="start"></ion-back-button>
      <div fxLayout="column">
        <ion-text>{{meetingName}}</ion-text>
        <ion-text>{{meetingID}}</ion-text>
      </div>
      <ion-button shape="round" fill="clear">
        <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-rule-list fxFill></app-rule-list>
</ion-content>